* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background: lightcyan;
    }
    .cont{
        margin-left: 2%;
    }
    .nav{
        background-color: #333;
        padding: 2vh;
    }
    .nav-links {
      list-style: none;
      display: flex;
      gap: 20px;
    }

    .nav-links a {
      text-decoration: none;
      color: #ffffff;
      transition: color 0.3s;
    }

    .nav-links a:hover {
      color: #00bcd4;
    }
